body {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  font: 62.5% "Trebuchet MS", sans-serif;
}

#container {
  margin: 0 auto;
}

#pagemain {
  width: 100%;
}

.ui-layout-north {
  padding: 0px !important;
  overflow: hidden !important;
  position: static !important;
}

#toolbar {
  padding: 4px;
  display: inline-block;
  float: left;
  margin: 0;
}

#pageleft {
  float:left;
}

#pageright {
  float:right;
  position: absolute;
  right: 20px;
  z-index: 1;
}

#pagefooter {
  clear:both;
}

#scatterplot {
}

#text-location, #search-box, #save-workspace-text {
  padding-bottom: 2px;
  padding-top: 2px;
  width: 145px;
  font: 9pt "Trebuchet MS", sans-serif;
  text-align: right;
  top: 2px;
  position: relative;
}

#text-location {
  padding-right: 5px;
  text-align: right;
}

/* Search box */

#search-box, #save-workspace-text {
  padding-left: 5px;
  text-align: left;
}

.ui-autocomplete-loading {
  background: white url('theme/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.separator {
  color: #aaaaaa;
  font-size: 12pt;
}

.spinner-label {
  border: 0;
  color: #565656;
  font-weight: bold;
  font-size: 11px
}

.dialog-label {
  border: 0;
  color: #565656;
  font-weight: bold;
  font-size: 11px;
}

.info-panel-title {
  color: #000000;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  background-color: #eeeeee;
}

.info-panel-content {
  padding: 10px;
  margin-bottom: 6px;
}

#location-table {
  width: 100%;
}

#multiAccordion {
  background-color: #ffffff;
}

.info-panel-table {
  font-size: 11px;
  width: 100%;
  border: 1px solid #dddddd;
  border-spacing: 0;
  border-collapse: collapse;
}

.info-panel-table td {
  border: 1px solid #dddddd;
  padding: 3px;
}

.verticalDiv {
  transform: rotate(270deg);
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari and Chrome */
  -o-transform: rotate(270deg); /* Opera */
  -moz-transform: rotate(270deg); /* Firefox */

  transform-origin: 15px 0%;
  -ms-transform-origin: 15px 0%; /* IE 9 */
  -webkit-transform-origin: 15px 0%; /* Safari and Chrome */
  -o-transform-origin: 15px 0%; /* Opera */
  -moz-transform-origin: 15px 0%; /* Firefox */
}



.img-link {
  text-decoration: none;
}

.link-text {
  text-decoration: underline;
}

/* File upload */
#browse-button
{
  width: 28px;
  height: 22px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

input.file
{
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
}

#dataUploadPane .ui-panel-content
{
  height: 42px;
}

.ui-tooltip
{
  max-width: none;
}

#info-cluster
{
  max-height: 201px;
  overflow-y: auto;
}

.menuOptionsContainer {
  visibility: hidden;
  position: fixed;
  z-index: 1;
}

#top-accordion .ui-accordion-content {
  overflow: hidden;
}

#sortable-track-list {
    list-style-type: none; margin: 0; padding: 0;
}

#sortable-track-list li {
    margin: 0 5px 5px 5px; padding: 5px;
}

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.toolbar-header {
  width: 100%;
  border: 1px solid #dddddd;
  background: #dddddd url(theme/images/ui-bg_highlight-soft_50_dddddd_1x100.png) 50% 50% repeat-x;
  color: #444444;
  font-weight: bold;
}

.dropdown-menu {
  position: fixed;
  z-index: 1;
}

.loader-icon {
  position: absolute;
}

/* Classes for charts */

.visualization-container {
    position: relative;
}

.plot-container {
  display: inline-block;
  margin: 2px;
}

.track-container {
  margin: 2px;
}

.genome-track {
}

.plot-chart {
  display: inline-block;
  margin: 5px;
}

.data-structure-container {
  display: inline-block;
}

/* Button Icons */

.epiviz-button label {
  width: 2.2em;
  height: 2.2em;
}

.epiviz-icon {
  font-family: 'epiviz-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* For SVG text */
  /* text-anchor: end; */
  /* alignment-baseline: before-edge; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*font-size: 12px;*/
  /*color: #000000;*/
}

.epiviz-button .epiviz-icon {
  position: absolute;
  top: 7px;
  left: 7px;
}

::-webkit-scrollbar{width:9px;height:9px;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#aaaaaa;-webkit-border-radius:0px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#aaaaaa;-webkit-border-radius:0px;}

/* Color picker */

.colorwell {
  border: 2px solid #fff;
  width: 6em;
  text-align: center;
  cursor: pointer;
}
body .colorwell-selected {
  border: 2px solid #000;
  font-weight: bold;
}

/* Menus adjustments */

.ui-menu button .ui-icon {
  top: 50%;
  left: 50%;
}

/* Data Tables */

.epiviz-data-table {
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * Override styles needed due to the mix of three different CSS sources
 */
.dataTables_info { padding-top: 0; }
.dataTables_paginate { padding-top: 0; }
.css_right { float: right; }
tfoot th input { width: 80% }
#example_wrapper .fg-toolbar { font-size: 0.8em }
#theme_links span { float: left; padding: 2px 10px; }

/* Tooltips */

.ui-tooltip {
  max-width: none;
}

.tooltip-table {
  border-collapse: collapse;
}

.tooltip-table th, .tooltip-table td {
  border: 1px solid #dddddd;
  border-spacing: 0;
  max-width: 100px;
  padding: 2px;
}

/* Test css */

#test-results-table {
  border-collapse: collapse;
}

#test-results-table th, #test-results-table td {
  border: 1px solid #dddddd;
  border-spacing: 0;
  max-width: 100px;
  padding: 2px;
}
