.base-chart {

}

.chart-legend {
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
}

text {
    font-family: Arial;
    font-size: 9pt;
}
.base-chart path,
.base-chart line {
    fill: none;
    stroke: #565656;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}

.base-chart text {
    font-family: sans-serif;
    font-size: 11px;
}
