.ui.grid {
    padding: 0px;
    /*max-height: inherit;*/
    height: 100%;
}

#titleRow {
    padding: 0;
}

#sourcemodal {
    /*top:40%;*/
    /*left: 60%;*/
}

#newmodal {
    /*left: 50%;*/
    top: 40%;
    /*max-height: 400px;*/
    height: 90%;
    width: 85%;
}

#leftRightRow {
    height: 350px;
}

#leftRightRow #annoMenu {
    overflow: auto;
    padding-right: 0px;
}

#leftmenu {
    width: 100%;
    overflow: auto;
}

#leftmenu .item .title{
    word-wrap: break-word;
}

#leftmenu #annoSearch .icon.input {
    margin: 5px;
    width: 95%;
    height: 30px;
}

#rightmenu {
    /*height: 335px;*/
    height: 100%;
}

#rightmenu .content {
    overflow: auto;
    /*height: 290px;*/
    height: 100%;
}

#rightmenu .item {
    height: 100%;
}

#leftRightRow {
    height: 100%;
}

#titleRow {
    height: 30px;
}

#titleRow div.four {
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}

#titleRow div.twelve {
    height: 30px;
    line-height: 30px;
}

#startScreenApp {
    height: 250px;
    top: 40%;
}

#startScreenApp > div.content.m > div {
    overflow: scroll;
    height: 180px;
}

#newmodal > div.content.m {
    height: 80%;
}

#measurementMenu {
    height : 100%;
}

#annoMenu {
    height: 100%;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_disabled_previous {
	background: url('../images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('../images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('../images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('../images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('../images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('../images/forward_enabled_hover.png') no-repeat top right;
}

.dataTables_filter {
	/* width: 50%; */
	float: right;
	text-align: right;
}

button.ui-button {
    z-index: 100;
}