<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="EpiViz is a scientific information visualization tool for genetic and epigenetic data, used to aid in the exploration and understanding of correlations between various genome features.">
    <title>EpiViz 2</title>

    <link rel="shortcut icon" href="css/epiviz_2_icon.png"/>

{% include "_script_includes.html" %}

    <!-- Dynamic initializations -->
    <script src="src/epiviz/standalone-settings.js"></script>

    <! -- Check if requesting websocket -->
    <script>
        var re = new RegExp("websocket=true")
        if (re.test(location.search)) {
             epiviz.EpiViz.SETTINGS.dataProviders.push(
                sprintf('epiviz.data.WebsocketDataProvider,%s,%s', 
                   epiviz.data.WebsocketDataProvider.DEFAULT_ID, 
                   sprintf("ws://%s", window.location.host)))
        }
    </script>
    <script>
        epiviz.workspaces.UserManager.USER_STATUS = { loggedIn: false };
</script>

  <script>
  // Run main once the page has loaded
  $(epiviz.main);
  </script>

  </head>

<body>
{% include "_toolbar_head.html" %}
{% include "_toolbar_foot.html" %}
{% include "_main_page.html" %}
</body>
</html>

