    <div id="pagemain" class="ui-layout-center">
      <div id="top-accordion">
        <h3><a href="#"><b><span style="color: #025167">Views by Feature</span></b></a></h3>
        <div id="chart-container"></div>
      </div>
      <div id="bottom-accordion">
          <h3><a href="#"><b><span style="color: #025167">Views by Location</span></b></a></h3>
          <div id="track-container"></div>
      </div>
    </div>

    <div class="ui-layout-east"></div>
    <div id="pagefooter" class="ui-layout-south"></div>


    <div id="dialogs">

      <div id="location-settings-dialog" title="Location Settings">
        <table>
          <tr>
            <td><label>Zoom-in Ratio:</label></td>
            <td><input id="zoomin-ratio-text" type="text" /></td>
          </tr>
          <tr>
            <td><label>Zoom-out Ratio:</label></td>
            <td><input id="zoomout-ratio-text" type="text" /></td>
          </tr>
          <tr>
            <td><label>Navigation Step Ratio:</label></td>
            <td><input id="navigation-step-ratio-text" type="text" /></td>
          </tr>
        </table>
      </div>
    </div>
