        <select id="chromosome-selector"></select>
        <input id="text-location" class="ui-widget-content ui-corner-all" type="text"/>
        <button id="moveleft">Slide left</button>
        <button id="moveright">Slide right</button>

        <button id="zoomin">Zoom in</button>
        <button id="zoomout">Zoom out</button>

        <button id="location-settings">Location Settings...</button>

        <span class="separator">|</span>

        <button id="plot-button">Plots</button>
        <div class="dropdown-menu">
          <ul id="plot-menu"></ul>
        </div>
        <button id="track-button">Tracks</button>
        <div class="dropdown-menu">
          <ul id="track-menu"></ul>
        </div>

        <button id="computed-measurements-button">Computed Measurements</button>

        <span class="separator">|</span>

        <label for="search-box"></label>
        <input id="search-box" class="ui-widget-content ui-corner-all" type="text" />

        <span class="separator">|</span>

        <label for="save-workspace-text"></label>
        <input id="save-workspace-text" class="ui-widget-content ui-corner-all" type="text"/>
        <button id="save-workspace-button">Save Workspace</button>
        <button id="delete-workspace-button">Delete Active Workspace</button>

        <span class="separator">|</span>

        <button id="help-button">Help</button>
      </div>
    </div>

